---
layout: default
prism: true
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4Z8QPDJ6Z9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4Z8QPDJ6Z9');
</script>

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}
                by
                <a>{{ author }}</a>

            </time>
        </p>

        <div class="reading-time">
            Estimated reading time: {{ content | readingTime }}
        </div>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}</article>

    <script src="https://utteranc.es/client.js"
        repo="alexiusacademia/cjourney"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>