---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}
                by
                <a>{{ author }}</a>

            </time>
        </p>

        <div class="reading-time">
            Estimated reading time: {{ content | readingTime }}
        </div>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}</article>

    <form method="POST" action="https://staticmaninstance.herokuapp.com/v3/entry/alexiusacademia/cjourney/master/comments">
        <input type="hidden" name="options[redirect]" value="{{ page.url }}">
        <input type="hidden" name="fields[postId]" value="{{ post_id }}">
          
        <label for="name">Name:</label>
        <input type="text" name="fields[name]" id="name" required>
          
        <label for="email">Email:</label>
        <input type="email" name="fields[email]" id="email" required>
          
        <label for="message">Comment:</label>
        <textarea name="fields[message]" id="message" required></textarea>
          
        <button type="submit">Submit</button>
    </form>
          
    {% set post_id = fileSlug %}
    {% set post_comments = [] %}
    {% for comment in comments %}
    {% if comment.fields.postId == post_id %}
        {% set post_comments = post_comments.concat(comment) %}
    {% endif %}
    {% endfor %}

    {% if post_comments.length %}
    <h3>Comments:</h3>
    <ul>
        {% for comment in post_comments %}
        <li>
            <strong>{{ comment.fields.name }}</strong> ({{ comment.fields.date }})
            <p>{{ comment.fields.message }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No comments yet. Be the first!</p>
    {% endif %}


</div>